:root {
  // Параметры шрифта

  --font-family-main: "Arial", sans-serif;
  --font-size-m: 16px;
  --font-line-m: 24px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
  --font-size-l: 24px;
  --font-line-l: 32px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

  // Параметры цветов

  --btn-bg-color: #5c9fe0;
  --btn-bg-color-hover: #477eb6;
  --btn-bg-color-active: #315980;

  --btn-text-color: #ffffff;
  --main-color: #777575;

  // Размеры

  --edit-delete-width: 40px;
  --edit-delete-height: 40px;
}