.main {
  width: 100%;
  margin-top: 20px;
}

.taskContainer {
  width: 100%;

  padding: 20px;
  margin-bottom: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #e8e4e4;
  border-radius: 30px;
}

.task {
  font: var(--font-m);
  text-decoration: line-through;
  color: slategray;
}

.btn-container {
  width: 90px;

  display: flex;
  justify-content: space-between;
}

.deleteBtn {
  background-color: #e55e5e;

  &:hover {
    background-color: #c25353;
  }

  &:active {
    background-color: #a64c4c;
  }
}

.btn {
  width: 40px;
  height: 40px;
}

.radio-btn {
  appearance: none;

  width: 18px;
  height: 18px;

  border-radius: 50%;
  border: 1px solid var(--main-color);

  margin-right: 10px;

  cursor: pointer;

  &:checked {
    background-color: var(--btn-bg-color);
    border: none;
  }
}


.radio-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}